

<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="form-wrapper">

  <label id="title">Video Title:</label>
  <textarea id="title" type="text" formControlName="Title" (input)="areaAutoGrowth($event)" (input)="maxUserInput($event,'Title')"
  [class.invalid]="uploadForm.get('Title')?.invalid && (uploadForm.get('Title')?.dirty || uploadForm.get('Title')?.touched)"></textarea>
      <div class="error-section" *ngIf="uploadForm.get('Title')?.invalid && (uploadForm.get('Title')?.dirty || uploadForm.get('Title')?.touched)">
          <p>Video title must be between {{dataConstants.TitleMinLength}} and {{dataConstants.TitleMaxLength}}</p>
      </div>
      <!-- <p class="error-section" *ngIf="areaInputLimitHit">You've hit the limit of allowed letters for a title {{dataConstants.TitleMaxLength}}</p> -->

  <p></p>

  <label id="description">Description:</label>
  <textarea id="description" class="descriptionTextArea" formControlName="Description"
    (input)="areaAutoGrowth($event)" (input)="maxUserInput($event,'Description')"></textarea>
    <p class="error-section" *ngIf="areaInputLimitHit">You've hit the limit of allowed letters for a title {{dataConstants.DescriptionMaxLength}}</p>

  <p></p>


  <label id="category">Category:</label>
  <select id="category" formControlName="CategoryId" name="category">
    <option *ngFor="let category of categories" [value]="category.id" >
          {{category.name}}
    </option>
  </select>

  <p></p>

  <label id="videofile">Video File</label>
  <input #videoFileInput id="videofile" type="file" (change)="onFileSelect($event , 'videoFile')" style="display: none;">
  <button type="button" (click)="videoFileInput.click()">Choose File</button>
  <span>{{ videFileName === null ? 'No file selected' : videFileName }}</span>
  <p></p>

  <label id="imagefile">Thumbnail</label>
  <input #imageFileInput id="imagefile" type="file" (change)="onFileSelect($event , 'imageFile')" style="display: none;">
  <button type="button" (click)="imageFileInput.click()">Choose File</button>
  <span>{{ imageFileName === null ? 'No file selected' : imageFileName }}</span>
  <img *ngIf="currentImageUrl" [src]="currentImageUrl" width="480">


  <button [disabled]="uploadForm.invalid">Upload Video</button>
</form>







<!-- dont forget to add latestVideoAdded check after the visual is set -->
<div *ngIf=" latestVideoWindow" class="latest-video-window">
      <h3>Your latest video </h3>
      <app-video-window [video]="latestVideoWindow">

      </app-video-window>
</div>

