.componentContainer
{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;

  .VideoInfoCommentsWrapper
  {
    display: flex;
    flex-direction: column;
    width: 940px;
  }

  .video-wrapper
{
  max-width: 940px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .videoQualitySettings
  {
    // position: absolute;
  }
}
  .fuckCSS
  {
    display: flex;
    width: 940px;
  }

  .user-likes-dislikes-wrapper
  {
    display: flex;
    flex-direction: row;
    justify-self: start;
    max-width: 940px;

    .linkToUserProfile
    {
      display: flex;
      flex-direction: row;

      gap: 1rem;

      .UserNameAndSubscribers
      {
        display: flex;
        flex-direction: column;
          gap: 0.5rem;
      }


    }

    .profileIcon
    {
      height: 32px;
      width: 32px;

      object-fit: cover;
      border-radius: 50%;
      border: 2px solid black;
    }







    .sub-like-dislike-Wrapper
    {
        display: flex;
        flex-direction: row;
        width: 100%;
         box-sizing: border-box;
         justify-content: space-between;

         .subscribeButton
         {
          margin-left: 2rem;

         }

         .bellButton
         {
          width: 60px;
          height: 60px;
          border: 2px;
          border-radius: 15px;
          background-color: bisque;
          margin-left: 1rem;

          svg
          {
            padding: 0.3rem;
            width: 50px;
            height: 36x;
          }
         }
         button
         {
            height: 50px;
         }
      .reaction
      {

        margin-left: auto; /* forces it to the far right */
          display: flex;
          gap: .5rem;




      }
      .confirmUnfollowing
      {
        margin-left: 0.5rem;
        button
        {
          width: 40px;
          height: 40px;
          margin: 0.5rem;
        }
      }
    }


  }
  .views-date-description-wrapper
  {
    margin-top: 1rem;
    background-color: silver;
    border-radius: 15px ;

    width: 100%;


    /* faint fade at the bottom while collapsed */
    -webkit-mask-image: linear-gradient(to bottom, #000 70%, transparent);
    mask-image: linear-gradient(to bottom, #000 70%, transparent);
    overflow: hidden;



      .span-metadata
    {
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1rem;
    }

    p
    {
      padding: 0.5rem;
    }
    button
    {
      margin: 1rem;
      width: 82px;
    }

    .description-video-category
    {
      padding: 0.5rem;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      img
      {
        height: 150px;
        width: 150px;

      }
      p
      {
        display: inline-block;
        padding: 0;
        font-weight: bold;
        cursor: pointer;
      }
      span
      {
        margin-left: 1rem;
      }
      cursor: pointer;
    }
  }

  .views-date-description-wrapper.expanded
    {
       -webkit-mask-image: none;
        mask-image: none;
    }


  .user-not-logged
  {
    display: flex;
    align-items: center;
    gap: 1rem;

    button
    {
      max-height: 30px;
    }

  }
  .comment-form-wrapper
  {
    textarea
    {
      width: 940px;
      resize: none;
      overflow: hidden;
      min-height: 1rem;
      line-height: 1.5rem;
      display: block;
      margin-bottom: 0.5rem;
    }

    .buttons-wrapper
    {
      display: flex;
      justify-content: end;
      gap: 0.5rem;


    }
  }

  button
      {
        border: 1px solid whitesmoke;
        border-radius: 15px;
      }

  .buttons-wrapper
  {
    display: flex;
    gap: 1rem;

    button
    {
      height: 20px;
    }

    .toggle-sort-wrapper
    {
      #sortByButton
      {
        margin-bottom: 1rem;
      }
      ul
      {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 1rem;

      }

      li
      {
        list-style: none;
        margin-bottom: 1rem;
      }

    }
  }

  .comment-likes-dislikes-reply-wrapper
  {
    display: flex;
    gap : 0.5rem;
    margin-bottom: 0.5rem;


  }

  .LogInMessage
    {
      position: absolute;
      border: 2px solid black;
      background-color: silver;
      border-radius: 15px ;

      z-index: 5;
      padding: 1rem;
    }

  .forloop-comments-wrapper
  {
    width: calc(940px - 2rem);
    text-align: left;

    border: 3px whitesmoke solid;
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 1rem;

    .commentNameAndDate
    {
      display: flex;
      flex-direction: row;

      gap: 1rem;

      a
      {
        text-decoration: none;
        color: inherit;

      }
      img
      {
        width: 32px;
        height: 32px;
        border-radius: 36px;
        object-fit: cover;
      }
    }

  }

  .reply-forcycle-wrapper
  {
    padding: 2rem;

    a
    {
      text-decoration: none;
      color: inherit;
    }
    .buttons-wrapper
    {
      margin-right: 0.5rem;
    }
    .reply-meta-data
    {
      display: flex;
      flex-direction: row;
      gap: 1rem;
        img
      {
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 36px;
      }
    }


    span
    {
      display: inline-block;
      width: 90px;
      margin-left: 1rem;
    }
  }

  .reply-form-wrapper
  {
      textArea
      {
        min-height: 1rem;
        line-height: 1.5rem;
        display: block;
        width: 100%;



        resize: none;
        margin: 0.5rem 0;

      }
      button
      {
        margin: 0.5rem;

      }

  }





}

.sideBar
{
  padding: 2rem;
  img
  {
    width: 50%;
    height: 50%;

  }
}


.choosenOne //this should be a global class
        {
          color: whitesmoke;
          background-color: blue;
        }



.svgIcon
{
  width: 32px;
  height: 32px;
}

.fullScreenMode
{
  // width: 100vw;
  // height: 100vh;

  height: 100%;
  width: 100%;

}
