<form [formGroup]="emailForm" (ngSubmit)="requestChange()">

  <div class="field">
      <label for="email">Email </label>
      <input [disabled]="emailValid" type="text" id="email" placeholder="write your email" formControlName="Email">
  </div>

  <button type="submit" *ngIf="!emailValid">Request a change</button>
</form>
<p class="errorMessage">{{emailErrorMessage}}</p>


<section class="changePassword" *ngIf="emailValid && theValidEmail && passWordForm">
  <form [formGroup]="passWordForm" (ngSubmit)="changePassword()">

      <div class="field">
        <label for="password">New password</label>
        <input id="password" type="password" formControlName="password">
        <span>password must be at least 6 characters long</span>
      </div>

      <div class="field">
        <label for="confirmPassword">Confirm password</label>
        <input id="confirmPassword" type="password" formControlName="confirmPassword">
      </div>
      <p class="errorMessage" *ngIf="passwordErrorMessage">{{passwordErrorMessage}}</p>

      <button type="submit" [disabled]="!passWordForm.valid">Change password</button>
  </form>
</section>

