<section class="formContainer">
<form [formGroup]="emailForm" (ngSubmit)="requestChange()">
  <div class="field">
    <label for="email">Email:</label>
    <input type="text" id="email"
           placeholder="write your email"
           formControlName="Email">
  </div>

  <button type="submit" *ngIf="!emailValid" style="margin-top: 1rem;">Request a change</button>
</form>
<p class="errorMessage">{{ emailErrorMessage }}</p>


<form *ngIf="passWordForm" [formGroup]="passWordForm" (ngSubmit)="changePassword()"  class="passwordForm">

  <span class="requirement">password must be at least 6 characters long</span>
  <div class="field">
    <label for="password">New password:</label>
    <input id="password"
           [type]="showPassword ? 'text' : 'password'"
           formControlName="password">


    <button type="button"
            *ngIf="passWordForm.get('password')?.dirty
                   && ((passWordForm.get('password')?.value || '').length > 0)"
            (click)="showPassword = !showPassword">
      {{ showPassword ? 'hide' : 'show' }}
    </button>


  </div>

  <div class="field">
    <label for="confirmPassword">Confirm password:</label>
    <input id="confirmPassword" [type]="showConfirmedPassword ? 'text' : 'password'" formControlName="confirmPassword">

    <button type="button"
            *ngIf="passWordForm.get('confirmPassword')?.dirty
                   && ((passWordForm.get('confirmPassword')?.value || '').length > 0)"
            (click)="showConfirmedPassword = !showConfirmedPassword">
      {{ showConfirmedPassword ? 'hide' : 'show' }}
    </button>
  </div>

  <p class="errorMessage" *ngIf="passwordErrorMessage">{{ passwordErrorMessage }}</p>

  <button type="submit" [disabled]="passWordForm.invalid" class="changePasswordButton">Change password</button>
</form>
</section>
