<div class="watchHistoryContainer">


<button type="button" (click)="deleteUserWatchHistory()">Delete watch history</button>

<ng-container *ngIf="(userTodayWatchHistory$ | async) as history">
  <h1 *ngIf="history.length > 0 ">
    Watched Today: {{ today | date: 'fullDate' }}:
  </h1>
</ng-container>
<section *ngFor="let history of userTodayWatchHistory$ | async">

  <a [routerLink]="['/playing', history.video.id]">

     <p>Video last watched on {{history.watchedOn | date : 'HH:mm dd-MM-yyyy'}}</p>
  </a>
  <app-video-window [video]="history.video">

  </app-video-window>
  <button type="button" class="deleteButton"(click)="deleteIndividuaVideoRecordFromHistoryTODAY(history.primaryKeyId)">Remove video from watch history</button>
</section>

<section *ngFor="let day of userPastWatchHistory; let dayIndex = index">
    <h3>Will display today or date here, in the near future  {{day[0].watchedOn | date : 'dd-MM-yyyy'}}</h3>
    <div *ngFor="let currVideo of day ; let videoIndex = index">
      <!-- we need to slap videoWindowComponent here without breaking anything -->
       <app-video-window [video]="currVideo.video">

       </app-video-window>

        <a [routerLink]="['/playing', currVideo.video.id]">
         <p>Video last watched on {{currVideo.watchedOn | date : 'HH:mm dd-MM-yyyy'}}</p>
        </a>



      <button type="button" class="deleteButton" (click)="deleteIndividuaVideoRecordFromHistoryPAST(currVideo.primaryKeyId, dayIndex , videoIndex)">Remove video from watch history</button>
    </div>
</section>
</div>
