  <section class="sideScrollContainer" #sideScrollContainer>

      <button [routerLink]="['/watch-history']">View all</button>
      <button type="button" [disabled]="index == 0" (click)="moveLeft()"> Move left</button>
      <button type="button" [disabled]="maxIndex -1 <= index" (click)="moveRight()">Move right </button>
      <div class="videosWrapper" #videosWrapper>
          <section class="Panel" *ngFor="let videoInfo of video" >
                  <a [routerLink]="['/playing/', videoInfo.id]" routerLinkActive="true" ariaCurrentWhenActive="page">
                    <div class="imageAndLengthWrapper">
                        <img [src]="videoInfo.imagePath" alt="Video Image">
                        <p>{{convertVideoTimeSpanToString(videoInfo)}}</p>
                    </div>

                    <h4>{{videoInfo.title}}</h4>
                    <h3>{{videoInfo.videoOwnerName}}</h3>
                    <span>{{videoInfo.views}} Views </span>
                    <span>{{videoInfo.uploaded | date : 'dd-MM-yyyy' }}</span>
                  </a>
            </section>
        </div>
  </section>





