.userVideoCatalog
{

  margin-top: 2rem;
  display: grid;
  gap: 3rem,;


  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.sortButtonsWrap
{
    button
    {
      margin-right: 1rem;
      background-color: #eee;
      color: #333;

      &.active
      {
        background-color: #007bff;
        color: white;
        font-weight: bold;
      }
    }
}


.videoContainer
{
  border: 3px solid black;

  img
  {
    width: 100%;
  }

  a
  {
    text-decoration: none;
    color: inherit;
  }
}

.videoDetails
{
  padding: 1rem;

  .userProfileIcon
  {
    width: 64px;
      height: 64px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid black;
  }
}
