<div class="userVideoCatalog">
  <ng-container *ngFor="let video of videosCatalog">
  <div class="videoContainer">
      <a [routerLink]="['/playing', video.id]">
      <img [src]="video.imagePath" alt="Video Thumbnail">
        </a>
      <section class="videoDetails">
        <a [routerLink]="['/playing', video.id]">
        <h3>{{video.title}}</h3>
        </a>
        <a [routerLink]="['/user-profile', video.videoOwnerId]">
        <h4>by {{video.videoOwnerName}}</h4>
        <img  class="userProfileIcon" [src]="video.videoOwnerProfileIcon" alt="Icon">
        </a>
        <a [routerLink]="['/playing', video.id]">

        <p>Uploaded :{{video.uploaded | date : 'dd-MM-yyyy'  }}</p>
        <p>Views :{{video.views}}</p>
        <p>Length : {{convertVideoTimeSpanToString(video)}}</p>
        </a>
      </section>

  </div>

  </ng-container>
