<div *ngIf="video">
    <section class="videos-category-wrapper">


            <a [routerLink]="['/playing', video.id]" (click)="saveScrollPosition()">
              <div class="image-wrapper">
                    <img [src]="video.imagePath" alt="Video Thumbnail">
                    <!-- <span>Video duration  {{video.hours === 0 ? null : video.hours + ':'}}
                                  {{video.minutes === 0 ? null : video.minutes + ':'}}
                                  {{(video.hours === 0 && video.minutes === 0) ? video.seconds + 'sec': video.seconds}}

                    </span> -->
                    <span>{{videoTimeSpanToString}}</span>
              </div>

            </a>
            <div class="video-details-wrapper">
              <h3><a [routerLink]="['/user-profile/', video.videoOwnerId]" (click)="saveScrollPosition()">{{video.title}}</a></h3>


              <h4><a [routerLink]="['/user-profile/', video.videoOwnerId]" (click)="saveScrollPosition()">{{video.videoOwnerName}}</a></h4>

              <a [routerLink]="['/playing', video.id]">
              <p>Views: {{video.views}}</p>
              <p>Uploaded on : {{video.uploaded | date : 'dd-MM-yyyy, HH:mm'}}</p>

              </a>
            </div>
            <ng-container *ngIf="userId$ | async as userId">
              <button *ngIf="video.videoOwnerId === userId" type="button" (click)="navigateToEditPage(video.id)">
                <span class="material-symbols-outlined">
                build
              </span>
              </button>

            </ng-container>

          </section>
</div>

