<p>videos-section works!</p>

<section *ngFor="let category of categoryWithVideos">
  <h2>{{category.name}}</h2>
  <div *ngFor="let video of category.videos">
    <img [src]="video.imagePath" alt="Video Thumbnail">
    <h3>{{video.title}}</h3>
    <h4>{{video.videoOwnerName}}</h4>
    <p>Uploaded on :{{video.uploaded}} Views: {{video.views}}</p>
    <p>Video duration : {{video.length}}</p>
  </div>
</section>


C:\stuff\ASP.NetCore with Angular\VodLibraryWithAngular\VodLibraryWithAngular.Server\bin\Debug\net8.0\wwwroot\thumbnail
C:\stuff\ASP.NetCore with Angular\VodLibraryWithAngular.Server\bin\Debug\net8.0\wwwroot\thumbnail
