<p>videos-section works!</p>

<section *ngFor="let category of categoryWithVideos" class="category-section">
  <h2 class="category-name">{{category.name}}</h2>
    <section class="category-wrapper">

      <div *ngFor="let video of category.videos">
          <section class="videos-category-wrapper">


            <a [routerLink]="['/playing', video.id]">
              <div class="image-wrapper">
                    <img [src]="video.imagePath" alt="Video Thumbnail">
                    <span>Video duration  {{video.hours === 0 ? null : video.hours + ':'}}
                                  {{video.minutes === 0 ? null : video.minutes + ':'}}
                                  {{(video.hours === 0 && video.minutes === 0) ? video.seconds + 'sec': video.seconds}}
                    </span>
              </div>

            </a>
            <div class="video-details-wrapper">
              <h3><a [routerLink]="['/user-profile/', video.videoOwnerId]">{{video.title}}</a></h3>


              <h4><a [routerLink]="['/user-profile/', video.videoOwnerId]">{{video.videoOwnerName}}</a></h4>

              <a [routerLink]="['/playing', video.id]">
              <p>Views: {{video.views}}</p>
              <p>Uploaded on : {{video.uploaded | date : 'dd-MM-yyyy, HH:mm'}}</p>

              </a>
            </div>

          </section>


  </div>
  </section>
</section>



