<header>
  <nav>
    <a href="/">
      logo
    </a>

    <a routerLink="upload" routerLinkActive="active" ariaCurrentWhenActive="page">
      Go to upload
    </a>
    <ng-container *ngIf="!userAuth; else LoggedIn">
      <a routerLink="register" routerLinkActive="active" ariaCurrentWhenActive="page">
        Register
      </a>
      <a  routerLink="login" routerLinkActive="active" ariaCurrentWhenActive="page">
        Login
      </a>
    </ng-container>
    <ng-template #LoggedIn>
      <button *ngIf="userAuth" type="button" (click)="logOutUser()">Log out </button>
      <a *ngIf="userAuth">Hello {{userNameDynamic$ | async}}</a>
      <a *ngIf="userAuth" routerLink="liked-videos" routerLinkActive="active" ariaCurrentWhenActive="page"> Liked Videos</a>
    </ng-template>
  </nav>
</header>

<main>

  <ng-container *ngIf="mainMenu; else DifferentComponent">
        <app-videos-section>

        </app-videos-section>
  </ng-container>

  <ng-template #DifferentComponent>
        <router-outlet>

        </router-outlet>
  </ng-template>

</main>


