<header>
  <nav>
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
     logo
    </a>


    <a routerLink="upload" routerLinkActive="active" ariaCurrentWhenActive="page">
      Go to upload
    </a>



    <ng-container *ngIf="!userAuth; else LoggedIn">
      <a routerLink="register" routerLinkActive="active" ariaCurrentWhenActive="page">
        Register
      </a>
      <a  routerLink="login" routerLinkActive="active" ariaCurrentWhenActive="page">
        Login
      </a>
    </ng-container>
    <ng-template #LoggedIn>
      <button *ngIf="userAuth" type="button" (click)="logOutUser()">Log out </button>
      <a *ngIf="userAuth">Hello {{userNameDynamic$ | async}}</a>
      <a *ngIf="userAuth" routerLink="liked-videos" routerLinkActive="active" ariaCurrentWhenActive="page"> Liked Videos</a>
      <a *ngIf="userAuth" routerLink="watch-history" routerLinkActive="active" ariaCurrentWhenActive="page"> Watch History</a>
    </ng-template>

    <form>
          <label for="search">Search</label>
          <input id="search" type="text"
          [formControl]="searchBar"
          (focus)="searchBarFocused = true"
          (blur)="searchBarFocused = false">

          <div *ngIf="typeof searchBar.value === 'string' && searchBar.value.length > 0 && searchBarFocused">
              <button type="submit" (click)="performASearch()">Find</button>
          </div>
    </form>
  </nav>
</header>

<main>
  <div class="main-container">


  <aside class="sideBar">
    <button type="button" (click)="ExpandDashBaord()">Dash</button>
    <a routerLink="/" routerLinkActive="true" ariaCurrentWhenActive="page">Home</a>
    <a>Subscribers</a>
    <div *ngIf="dashBoardExpanded === false ; else expandedView">
      <a [routerLink]="['/you-page']" routerLinkActive="true" ariaCurrentWhenActive="page">You</a>
    </div>

    <ng-template #expandedView>
        <a [routerLink]="['/you-page']" routerLinkActive="true" ariaCurrentWhenActive="page">You</a>
        <a [routerLink]="['/watch-history']">Histroy</a>
        <a [routerLink]="['/liked-videos']">Liked Videos</a>

        <h4>Subscriptions</h4>

        <h4>Explore</h4>
        <section *ngFor="let category of categories | async">
          <p>{{category.name}}</p>
        </section>

    </ng-template>







  </aside>

  <section class="mainContent">
      <ng-container *ngIf="mainMenu; else DifferentComponent">
            <app-videos-section>

            </app-videos-section>
      </ng-container>

      <ng-template #DifferentComponent>
            <router-outlet>

            </router-outlet>
      </ng-template>
  </section>
  </div>

</main>


