// :host {
//     max-width: 1280px;
//     padding: 2rem;
//     text-align: center;
// }

// th, td {
//     padding-left: 1rem;
//     padding-right: 1rem;
// }


.prick:hover
{
  cursor: pointer;
}


a{

  text-decoration: none;
  color: inherit;
  margin: 2rem;
}

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;

  input
      {
        border-radius: 40px;
        width: 588px;
        height: 40px;
      }

  .TitleAndMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Title:hover
    {
      cursor: pointer;
    }
  }

  .menuAndTitle {
    display: flex;
    align-items: center;
    gap: 10px; // space between button and title
  }

  .menuButton {
    height: 40px;
    width: 40px;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 24px;
      height: 24px;
      display: block;
    }


    .RegisterLogInButtons
    {
      display: flex;
      flex-direction: row;
      gap: 1rem;


    }



}

}



.main-container
{
  //  display: grid;
  // grid-template-columns: 72px 1fr; // sidebar: 250px, rest: fill

  // gap: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;







  .mainContent
  {
    width: 100%;
  }
}


 .ganreSelector:hover
  {
    cursor: pointer;
  }


.svgIcon
{
  width: 32px;
  height: 32px;
  align-self: center;
}


.genreList
        {

          .genreAndIcon
          {
            display: flex;
            flex-direction: row;
            gap: 1rem;
          }

        }


.sideBar
  {

    position: sticky;
    top: 80px;
    align-self: start;
    justify-content: flex-start;
    height: fit-content;




    .sideBarShrinked
    {
      display: flex;
      flex-direction: column;
      width: 80px;




      span
      {

        font-size: 13px;
        font-family: Roboto, Arial, sans-serif;
      }


        .linkAndIcon
      {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        padding: 1rem;

        img
        {
          width: 32px;
          height: 32px;
        }
      }
      .linkAndIcon:hover
      {
        background: greenyellow;
        cursor: pointer;
      }


    }

    .sideBarExpand
    {
      width: 240px;
      height: 800px;
      overflow-y: auto;
      position: sticky;

      .linkAndIconExpanded
      {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        border-radius: 10px;
        padding: 1rem;

        img
        {
          width: 32px;
          height: 32px;
        }


      }
      .linkAndIconExpanded:hover
      {
        background: greenyellow;
        cursor: pointer;
      }

      .buttonWrapper
        {
          width: inherit;
          justify-content: center;
          justify-self: center;

          button
            {
              margin: 0.5rem;
              width: 70px;
              border: 2px;
              border-radius: 15px;
              display: block;



            }

        }

        .individualSubscriber
        {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          img
          {
            width: 24px;
            height: 24px;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid black;


            align-self: center;

          }
        }

        .individualSubscriber:hover
        {
          background: greenyellow;
          cursor: pointer;
        }
    }






  }



  // .sidebar-fixed
  // {

  //   position: fixed;
  //   top: 90;
  //   img
  //   {
  //     width: 600px;
  //     height: 600px;
  //   }

  // }

